<div class="form-holder">
    <form class="sl-form" action="" method="post">
        <label>Restaurant Name</label><br>
        <input class="input-group" type="text" placeholder="Enter Restaurant Name"><br>
        <label>Email</label><br>
        <input class="input-group" type="text" name="" id="" placeholder="eg: abc@email.com"><br>
        <label>Password</label><br>
        <input class="input-group" type="password" name="" id=""><br>
        <button class="btn btn-primary btn-block sl-btn" >Sign up</button><br>
    </form>    
</div>
